* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1f4037 30%, #99f2c8);
}
.text {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size:6rem ;
    letter-spacing: 0.5rem; 
    width: 0ch;
    overflow: hidden;
    animation: move 2s 0.5s steps(10,jump-none) forwards;
}
.text::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #000;
    animation: twinkle 1.1s 2s steps(2,jump-none) infinite ;
}
@keyframes move {
    100% {
        width: 10ch;
    }
}
@keyframes twinkle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}